@keyframes shadow {
    from {
        text-shadow: 5px 0 3px black;
    }
    50% {
        text-shadow: 3px 0 30px black;
    }
    to {
        text-shadow: 0 0 3px black;
    }
}

@keyframes move {
    from,
    to {
        top: 0;
        left: 0;
    }
    25%,
    75% {
        top: 100%;
    }
    50% {
        top: 50%;
    }
}

.home {
    height: 89vh;
    background-image: url('../assets/img/kartinki-sfera-2.jpg');
    display: flex;
    background-size: auto;
    width: auto;


}

.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text {
    background-color: #030328;
    opacity: 0.8;
    padding: 20px;
    width: 300px;
    color: wheat;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.9);
    animation: shadow 2s infinite ease-in-out;
}

@-webkit-keyframes move_eye {
    from {
        margin-left: -10%;
        margin-bottom: 0%
    }
    to {
        margin-left: 10%;
        margin-bottom: 0%
    }
}

@-moz-keyframes move_eye {
    from {
        margin-left: -10%;
        margin-bottom: 0%
    }
    to {
        margin-left: 10%;
        margin-bottom: 0%
    }
}

@-o-keyframes move_eye {
    from {
        margin-left: -10%;
        margin-bottom: 0%
    }
    to {
        margin-left: 10%;
        margin-bottom: 0%
    }
}

@keyframes move_eye {
    from {
        margin-left: -10%;
        margin-bottom: 0%
    }
    to {
        margin-left: 10%;
        margin-bottom: 0%
    }
}


.hi {
    font-family: "Comic Sans MS";
    font-size: 90px;
    font-weight: bold;
    color: wheat;
    border-bottom: #0734ea 15px solid;
    width: auto;
    height: 90px;
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
    -moz-animation: 4s linear 0s infinite alternate move_eye;
    -o-animation: 4s linear 0s infinite alternate move_eye;
    animation: 4s linear 0s infinite alternate move_eye;
}


.photo {
    margin-left: 50px;
    align-self: end;


}

.about {
    text-align: justify;

}

.front {
    font-size: 28px;
}

@media screen  and (max-width: 1025px) and (min-width: 540px) {
    .photo {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

    .home {
        height: 100%;
    }

}

@media (max-width: 539px) {
    .photo_img {
        width: 300px;
        height: 300px;

    }

    .home {
        height: 100%;
    }
}

