.nav{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
}


.a{
    color: wheat;
    font-size: large;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
    font-family: "Comic Sans MS";
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}
.a:hover{
    transform: scale(1.2);
}
