.skill{
    height: 300vmax;
    background-image: url('./../Contacts/soty.jpg');
    color: wheat;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);

}

.conteiner{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap ;
}
.skill_block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}