.projects{
    width: 100%;
    height: 100%;
    background-image: url('./kartinki-sfera-2.jpg');
    position:  relative;
    display: flex;
    background-size: auto;
    /*width: auto;*/
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap ;
    opacity: 1;
    /*-webkit-animation: 4s linear 0s infinite alternate move_eye;*/
    /*-moz-animation: 4s linear 0s infinite alternate move_eye;*/
    /*-o-animation: 4s linear 0s infinite alternate move_eye;*/
    /*animation: 4s linear 0s infinite alternate move_eye;*/
    /*transform: rotateX(12deg);*/
}
.s{
    height: 100vmax;
    position: relative;
    background-color: #030328;
    /*background-image: url('./kartinki-sfera-2.jpg');*/
}

.project_block{
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;

}
.project_element{
    border: wheat solid 3px;
}
